#title {
    position: absolute;
    top:30%;;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 60pt;
    letter-spacing:7px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(#ffffff, #404968);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


 .menu{
 max-width: 250px; 
 width: 100%;
 position: relative;
 
 }

 .item{
     height:55px;
     padding:0 20px;
      position: relative;
    z-index: 3;
    text-align: center;
    font-size: 30px;
    line-height: 56px; 
    cursor: pointer;
    text-decoration-line: none;
    color: rgb(189, 180, 180);
   font-family:lato;
   display:block ;

 }
 .back-menu{
     position: absolute;
     top: 0;
     left: 0;
     height: 55px;
     width: 100%;
     background: #4e25be;
     border-radius: 55px;
     z-index: 2;
transition: 0.3s; 

 

 }

.item:nth-of-type(1):hover ~ .back-menu{
    transform: translateY(0);
}

.item:nth-of-type(2):hover ~ .back-menu{
    transform: translateY(calc(100% * 1));
}
.item:nth-of-type(3):hover ~ .back-menu{
    transform: translateY(calc(100% * 2));
}

.contenedor-icono svg{
    width: 250px;
    height: 45px;
    margin-left: 85%;
    color: beige;
}

.geek{
    position:absolute;
margin-left: 88vw;
margin-top: -1v;
}